<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Lista de Ocorrências
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="exibeLista">
    <ion-card *ngFor="let ocorrencia of ocorrencias" [routerLink]="['/atualizar', ocorrencia.id]">
      <ion-card-header>
        <ion-card-subtitle class="ion-text-end" >{{ ocorrencia.dataInicio | date: 'dd/MM/yyyy HH:mm' }}</ion-card-subtitle>
        <ion-card-title>{{ ocorrencia.vitima.nome }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToForm()" color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>