<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button icon=arrow-back defaultHref="ocorrencias"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Atualizar Ocorrência
    </ion-title>
  </ion-toolbar>

  <ion-segment color="danger" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="geral" layout="icon-start" checked>
      <ion-label>GERAL</ion-label>
    </ion-segment-button>
    <ion-segment-button value="endereco" layout="icon-start">
      <ion-label>ENDEREÇO</ion-label>
    </ion-segment-button>
    <ion-segment-button value="quilometragem" layout="icon-start">
      <ion-label>KM</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-header>


<ion-content class="form-content ion-padding">
  <form [formGroup]="validationsForm" (ngSubmit)="onSubmit(validationsForm.value)">

    <ion-grid>
      <div *ngIf="tabSegment == 'geral'">

        <ion-item lines="full">
          <ion-label>Ocorrencia Concluída</ion-label>
          <ion-toggle formControlName="concluida" color="danger" side="start" slot="end"> </ion-toggle>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked" color="danger">Nome</ion-label>
              <ion-input type="text" formControlName="nome"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="danger" position="stacked">Data Nascimento</ion-label>
              <ion-datetime formControlName="dataNascimento" displayFormat="DD/MM/YYYY" min="1900-01-01"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="stacked" color="danger">Telefone</ion-label>
              <ion-input type="text" formControlName="telefone" class="input-lado-data"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked" color="danger">Identidade</ion-label>
              <ion-input type="text" formControlName="identidade"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="stacked" color="danger">UF</ion-label>
              <ion-select formControlName="ufIdentidade" name="ufIdentidade" cancelText="Cancel" okText="OK">
                <ion-select-option *ngFor="let ufIdentidade of ufsIdentidades" [value]="ufIdentidade">{{ufIdentidade}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked" color="danger">CPF</ion-label>
              <ion-input type="text" name="cpf" formControlName="cpf" placeholder="CPF/CNPJ"
                [brmasker]="{person: true}"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="stacked" color="danger">Sexo</ion-label>
              <ion-select formControlName="sexo" cancelText="Cancel" okText="OK">
                <ion-select-option *ngFor="let sexo of sexos" [value]="sexo">{{sexo}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked" color="danger">Nome da Mãe</ion-label>
              <ion-input type="text" formControlName="nomeMae"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked" color="danger">Nome do Pai</ion-label>
              <ion-input type="text" formControlName="nomePai"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked" color="danger">Cor</ion-label>
              <ion-select formControlName="cor" cancelText="Cancel" okText="OK">
                <ion-select-option *ngFor="let cor of cores" [value]="cor">{{cor}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="stacked" color="danger">Altura(cm)</ion-label>
              <ion-input type="text" formControlName="altura"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked" color="danger">Nacionalidade</ion-label>
              <ion-input type="text" formControlName="nacionalidade"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="stacked" color="danger">Estado Civil</ion-label>
              <ion-select formControlName="estadoCivil" cancelText="Cancel" okText="OK">
                <ion-select-option *ngFor="let estadoCivil of estadosCivil" [value]="estadoCivil">{{estadoCivil}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked" color="danger">Naturalidade</ion-label>
              <ion-input type="text" formControlName="naturalidade"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked" color="danger">Email</ion-label>
              <ion-input type="text" formControlName="email"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

      </div>

      <div *ngIf="tabSegment == 'endereco'">

        <div formGroupName="endereco">
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked" color="danger">CEP</ion-label>
                <ion-input type="tel" #cep name="cep" formControlName="cep"
                  [brmasker]="{mask: '00.000-000', type:'num'}" (keyup)="preencheCEP(cep.value)"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked" color="danger">Número</ion-label>
                <ion-input type="tel" name="numero" formControlName="numero"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked" color="danger">Cidade</ion-label>
                <ion-input name="cidade" formControlName="cidade"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="3">
              <ion-item>
                <ion-label position="stacked" color="danger">UF</ion-label>
                <ion-input name="uf" formControlName="uf"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked" color="danger">Bairro</ion-label>
                <ion-input name="bairro" formControlName="bairro"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked" color="danger">Endereço</ion-label>
                <ion-input name="logradouro" formControlName="logradouro">
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked" color="danger">Complemento</ion-label>
                <ion-input name="complemento" formControlName="complemento">
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </div>
      </div>

      <div *ngIf="tabSegment == 'quilometragem'">
        <div formGroupName="quilometragem">
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-title color="danger" style="text-align: center">Batalhão</ion-title>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked" color="danger">Viatura</ion-label>
                <ion-input type="text" name="viatura" placeholder="Viatura" formControlName="viatura"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked" color="danger">KM Saída do Batalhão</ion-label>
                <ion-input type="tel" name="kmSaidaBatalhao" maxlength="6" placeholder="000000"
                  formControlName="kmSaidaBatalhao" #kmSaidaBatalhao (keyup)="preencheKm(kmSaidaBatalhao.value)">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked" color="danger">KM Chegada no Batalhão</ion-label>
                <ion-input type="tel" name="KmSaida" min="0" maxlength="6" placeholder="000000"
                  formControlName="kmChegadaBatalhao"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked" color="danger">Horário Saída do Batalhão</ion-label>
                <ion-datetime displayFormat="HH:mm A" placeholder="00:00" formControlName="horaSaidaBatalhao">
                </ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked" color="danger">Horário Chegada no Batalhão</ion-label>
                <ion-datetime displayFormat="HH:mm A" placeholder="00:00" formControlName="horaChegadaBatalhao">
                </ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-title color="danger" style="text-align: center">Local</ion-title>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked" color="danger">KM chegada no Local</ion-label>
                <ion-input type="tel" name="KmSaida" min="0" maxlength="6" placeholder="000000"
                  formControlName="kmChegadaLocal"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked" color="danger">Horário Chegada no Local</ion-label>
                <ion-datetime displayFormat="HH:mm A" placeholder="00:00" formControlName="horaChegadaLocal">
                </ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked" color="danger">Horário Saída do loca</ion-label>
                <ion-datetime displayFormat="HH:mm A" placeholder="00:00" formControlName="horaSaidaLocal">
                </ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-title color="danger" style="text-align: center">Hospital</ion-title>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked" color="danger">KM chegada no Hospital</ion-label>
                <ion-input type="tel" name="KmChegada" maxlength="6" placeholder="000000"
                  formControlName="kmChegadaHospital"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked" color="danger">Horário chegada no Hospital</ion-label>
                <ion-datetime displayFormat="HH:mm A" placeholder="00:00" formControlName="horaChegadaHospital">
                </ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked" color="danger">Horário Saída do Hospital</ion-label>
                <ion-datetime displayFormat="HH:mm A" placeholder="00:00" formControlName="horaSaidaHospital">
                </ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating" color="danger">Observação:</ion-label>
                <ion-textarea name="observacao" rows="6" formControlName="observacao"></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
        </div>
      </div>
      <ion-row>
        <ion-col>
          <ion-button color="danger" class="submit-btn" expand="full" type="submit" [disabled]="!validationsForm.valid">
            Salvar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
